#
# config ST_EXTERIOR_CLOSE
#

WorldTexture=terrain_M1_blended.jpg
#DetailTexture=terrain_M1_detail.jpg

#number of times the detail texture will tile in a terrain tile
DetailTile=3

# Heightmap source
PageSource=Heightmap
Heightmap.image=terrain_M1.png

# How large is a page of tiles (in vertices)? Must be (2^n)+1
PageSize=513

# How large is each tile? Must be (2^n)+1 and be smaller than PageSize
TileSize=17

# The maximum error allowed when determining which LOD to use
MaxPixelError=5

# The size of a terrain page, in world units
PageWorldX=300
PageWorldZ=300
# Maximum height of the terrain
MaxHeight=80

# Upper LOD limit
MaxMipMapLevel=5

#VertexNormals=yes
#VertexColors=yes
